<h2>User info</h2>

  <%= image_tag @user.get_profile_image(100,100) %><br>
    
  <table border="1">
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>




<!-- 新規投稿 -->
<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %><br>

  <%= f.submit 'Create Book' %>
<% end %> 

<h2>Book detail</h2>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= book.shop_name %></p>
  <p>説明：<%= book.caption %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>