<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'book', book: @book, user: @user %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= link_to @user.name, user_path(@user.id) %>
              </td>
              <td>
                <%= link_to @book.title %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <td>
                <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success edit_book_160598" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book.id), class:"btn btn-sm btn-danger destroy_book_160598", method: :delete, "data-confirm" => "本当に削除しますか？" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
